# Configuración de Base de Datos
MAIN_DB_URL=postgres://usuario:contraseña@localhost:5432/invest_control

# Configuración JWT
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE_IN=Xh
REFRESH_JWT_SECRET=your_refresh_jwt_secret_key
REFRESH_JWT_EXPIRE_IN=Xd
REFRESH_COOKIE_EXPIRE_IN_SECONDS=
PORT=3000

# Configuración de OAuth Google
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=https://tu-dominio-backend.com
FRONTEND_REDIRECT_URI=https://tu-dominio-frontend.com